@import 'common/common';

.josefinLight() {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.josefinBold() {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

@main-text-color: #333;

html, body {
  .josefinLight();
  color: @main-text-color;
}



.center-wrapper{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1200px;
}

.hero{
  height: 500px;
  background-color: red;
  .center-wrapper{
    .logo{
      background-color: white;
      height: 100px;
    }
  }
}

.center-wrapper{
  .navigation{
    background-color: yellow;
    height: 200px;
  }
  .bespoke{
    background-color: blue;
    height: 200px;
  }
  .about{
    background-color: green;
    //height: 200px;
    .red{
      background-color: red;
      .img-responsive-fixed-aspect-ratio();
    }
  }
  .products{
    background-color: purple;
    height: 200px;
  }
  .gallery{
    background-color: skyblue;
    height: 200px;
  }
  .call-to-action{
    background-color: gray;
    height: 200px;
  }
}

.footer{
  background-color: black;
  height: 300px;
  .center-wrapper{
    .footer-inner{
      background-color: yellow;
      height: 50px;
    }
  }
}







/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

  .center-wrapper{
    width: 90%;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/*Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}

/*Ipad Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {


}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {

  .center-wrapper{
    width: 100%;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}